AnchorPane {
    -fx-background-color: #f0f8ff;
}

Label {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

TextArea {
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-background-color: #ecf0f1;
}

TextField {
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
}

Button {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}